:root {
  --navbarmargin: 120px;
  --header: #9a846b;
  --fontColor: #f5f5f5;
  --textShadow: black;
  --goldText: #fab442;
  --brown: #3c3434;
  --beige: #d3bcab;
  --lightbeige: #f9e0cf;
  --textShadowOpacity: 3px 4px 7px rgba(14, 12, 9, 0.8);
}
.App {
  background-color: #edede9;
}

.header {
  width: 100%;
  height: var(--navbarmargin);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header);
  font-size: 1.8em;
}
.header_title {
  font-family: "Cinzel";
  cursor: pointer;
  user-select: none;
}

.main {
  margin-top: var(--navbarmargin);
  background-color: #edede9;
  width: 100%;
}
.exposition {
  color: #ffffff;
  flex-wrap: unset;
  font-weight: 400;
  height: 100%;
  font-family: "Lora";

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/images/tile1.png);
}

.exposition_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.exposition_left {
  grid-column: 1/2;
}
.exposition_right {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.exposition_right > h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.exposition_right > p {
  font-size: 18px;
  margin-bottom: 20px;
}

.exposition_right > span {
  font-weight: bold;
}

.exposition_right > img {
  margin-top: 20px;
}

.article_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_wrapper {
  padding: 8px;
  background-color: var(--beige);
  padding: 24px 40px;
  border-radius: 24px;
}

.article {
  width: 100%;
  padding: 32px;
  max-width: 50em;
  margin-top: 32px;
  background-color: var(--brown);
  border-radius: 24px;
}
.article_title {
  text-align: center;
  font-family: "Cinzel";
  font-size: 2em;
}
.ArticleItem_title {
  font-family: "Cinzel";
  text-align: center;
}
.ArticleItem_paragraph {
  font-family: "Lora";
  list-style: armenian;
}

.panels_container {
  display: flex;
  flex-direction: column;
}
.panels_container_title {
  font-family: "Cinzel";
  text-align: center;
  font-size: 2em;
}

.panels_wrapper {
  display: flex;
  background-color: #00bda5;
  padding: 24px 0;
}

.panel {
  width: 300px;
  height: 600px;
  background-color: purple;
  margin: 0px 12px 0px 12px;
}
